*   {
    margin: 0;
    background-color: #ECE8EF;
}

.banner {
  width: 20rem;
  display: block;
  margin: 0 auto;
}


h1 {
    color: #4392F1;
    font-size: 22px;
    text-align: center;
}

h2 {
    font-size: 18px;
    color: #C52184;
    font-weight: normal;
    text-align: center;
}

h3 {
    font-size: 16px;
    text-decoration: underline;
    color: #C52184;
}

p{
    color: #0B0A07;
    font-size: 14px;
    line-height: 28px;
}
